body {
      font-family: sans-serif;
      max-width: 600px;
      margin: 40px auto;
      padding: 0 20px;
      text-align: center;
      font-size: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 20px;
    }

    form {
        display: flex;
        align-items: center;
        gap: 10px;            /* Space between input and button */
        margin-left: 70px;    /* Moves entire form to the right */
    }

    input[type="text"] {
        font-size: 20px;
        padding: 10px;
        width: 65%;
        text-align: center;
        border-radius: 7px;
    }

    li {
      padding: 12px;
      margin-bottom: 10px;
      border: 2px solid #aaa;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
    }

    .done {
      opacity: 0.5;
    transform: translateX(5px);
    transition: all 0.3s ease;
    text-decoration: line-through;
    }
    .done button {
      text-decoration: none;
    }
    .done-btn {
        background-color: #00ff2a;
    }
    
    .hide {
      display: none;
    }
    .done-btn:hover {
        background-color: #3bbf00;
        transform: scale(1.07);
    }

    button {
      font-size: 18px;
      padding: 10px 16px;
      margin-left: 6px;
      cursor: pointer;
      border-radius : 5px;
      transition: background-color 0.3s, transform 0.2s;
    }
    
    button:hover {
  background-color: #bc6a6b; 
  color: white;
  transform: scale(1.05);    
}
#allBtn:hover{
  background-color: #bc6a6b; 
  color: white;
  transform: scale(1.05);
}
#activeBtn:hover{
  background-color: #bc6a6b; 
  color: white;
  transform: scale(1.05);
}
#completedBtn:hover{
  background-color: #bc6a6b; 
  color: white;
  transform: scale(1.05);
}
#add-btn:hover {
  background-color: #5eff00; 
  color: white;
  transform: scale(1.1);    
}
#clearAllBtn:hover {
        background-color: #ff0800d6; 
      color: white;
      transform: scale(1.05); 
      
    }

    
